@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  --app-bg: #EFEFEF;
}

body {
  /* Use shared background color variable for light theme */
  background-color: var(--app-bg);
  @apply text-gray-900 dark:text-gray-100 dark:bg-gray-900;
}
/* 
.container {
  @apply mx-auto max-w-5xl px-4;
} */
